* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #262626;
  font-family: 'Open Sans', sans-serif;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 600px;
  margin: 0 auto;
  -moz-box-shadow: 0 3px 10px 3px #111;
  -webkit-box-shadow: 0 3px 10px 3px #111;
  box-shadow: 0 3px 10px 3px #111;
}

#page {
  background: #fff;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*
body {
    font-family: 'helvetica neue','helvetica-neue',helvetica,arial,sans-serif;
}

a {
    color: #006c12;
    text-decoration: none;
}

#container {
    margin: auto;
    margin-top: 80px;
    width: 500px;
}

#logo {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    
}

#pajarito-morido {
    display: block;
    margin: 0 auto;
}

#sopa {
    display: block;
    margin: 0 auto;
    width: 400px;
}


h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid #ccc 2px;
}

p {
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

#links {
    padding-top: 30px;
    font-weight: bold;
}
*/
