* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #262626;
  font-family: 'Open Sans', sans-serif;
}

#container {
  height: 400px;
  width: 600px;
  margin: 40px auto;
  background-color: #fff;
  -moz-box-shadow: 0 3px 10px 3px #111;
  -webkit-box-shadow: 0 3px 10px 3px #111;
  box-shadow: 0 3px 10px 3px #111;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#page {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

#logo {
  width: 70px;
  height: 58px;
  background: url('images/footer-logo.png');
  margin: 0 auto;
}

#logo2 {
  width: 165px;
  height: 52px;
  background: url('images/turpial-logo-maintenance.png');
  margin: 0 auto;
}

h1, h3, p {
  text-align: center;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 36px;
  margin: 20px 10px;
}

h3 {
  font-size: 20px;
  margin: 10px 10px 30px 10px;
}

p {
  font-size: 14px;
  color: #333;
  margin: 0 20px;
}

#footer {
  height: 170px;
  width: 100%;
  background: url('images/footer-background.png') center repeat-x #262626;
}

#footer p {
  color: #fff;
  font-size: 13px;
}

#footer, .push {
  height: 170px;
}

#footer-content {
  width: 900px;
  margin: 0 auto;
  padding-top: 90px;
}

#footer-copyright {
  float: left;
  width: 500px;
}

#footer-copyright img {
  float: left;
  padding-right: 10px;
}

#footer-copyright p {
  padding-top: 20px;
}

#footer-icons {
  float: right;
}

#footer-icons a {
  color: white;
  font-size: 12px;
  line-height: 40px;
  padding-left: 10px;
  vertical-align: top;
}

/*
body {
    font-family: 'helvetica neue','helvetica-neue',helvetica,arial,sans-serif;
}

a {
    color: #006c12;
    text-decoration: none;
}

#container {
    margin: auto;
    margin-top: 80px;
    width: 500px;
}

#logo {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    
}

#pajarito-morido {
    display: block;
    margin: 0 auto;
}

#sopa {
    display: block;
    margin: 0 auto;
    width: 400px;
}


h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid #ccc 2px;
}

p {
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

#links {
    padding-top: 30px;
    font-weight: bold;
}
*/
